@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #202124;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}
